.hero{
    color: white;
    font-weight: bold;
}

.myName{
    color: white;
    font-weight: bold;
}

.job{
    color: white;
    font-weight: bold;
} 

.descrition{
    color: white;
    font-weight: bold;
}