.main {
  background-color: #1e293b;
  padding: 80px;
  min-height: 100vh;
}

.h2 {
  color: #a78bfa;
  font-weight: 600;
  text-align: center;
  margin-bottom: 40px;
  letter-spacing: 2px;
  font-size: 2rem;
  
  font-family: sans-serif;
}

.mainContainer {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
}

.card {
  background-color: #0f172a;
  border-radius: 12px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  border: 1px solid #2d3748;
  width: 400px;
  transition: transform 0.3s, border-color 0.3s;
}

.card:hover {
  transform: translateY(-5px);
  border-color: #a78bfa;
}

.title {
  color: #e2e8f0;
  font-size: 1.1rem;
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.5px;
  font-family: sans-serif;
}

.description {
  color: #94a3b8;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: center;
  line-height: 1.7;
  flex-grow: 1;  /* pushes buttons to bottom */
  font-family: sans-serif;
}

.technology {
  color: #a78bfa;
  font-size: 1rem;
  font-weight: 500;
  background: rgba(167, 139, 250, 0.1);
  padding: 4px 12px;
  border-radius: 20px;
  display: inline-block;
  text-align: center;
  font-family: sans-serif;
  line-height: 1.7;
}

.buttons {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin-top: 8px;
}

.github_btn {
  background-color: #a78bfa;
  color: white;
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.85rem;
  transition: background 0.3s;
  font-family: sans-serif;
  text-decoration: none;
}

.github_btn:hover {
  background-color: #7c3aed;
}

.demo_btn {
   text-decoration: none;
  background-color: transparent;
  border: 2px solid #a78bfa;
  color: #a78bfa;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 0.85rem;
  transition: all 0.3s;
  font-family: sans-serif;
}

.demo_btn:hover {
  background-color: rgba(167, 139, 250, 0.1);
}